.menuHome{
  position: sticky; 
  /* Menu fijo */
  top: 0;
  /* Posicion */
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* box-shadow: offset-x offset-y blur-radius spread-radius color; */
  z-index: 100;
 

}


.menu {
     width: 80%;
     display: flex;
     align-items: center;
     justify-content: end;
    
}
 
.iconoHome{
  transition: transform 0.2s ease-in-out;
}
.iconoHome:hover{
   transform: scale(1.1);
}



.contenedorEnlaces{
    display: flex;
    flex-direction: row;
    justify-content:end;
    gap: 2%;
    padding: 0 5%;
    list-style: none;
    width: 100%;
    
    
    
}

.enlaces{
  color:rgb(255, 255, 255);
  text-decoration: none;
  
}
.enlaces:hover{
  color: #ccc;
}

.input-busqueda {
  padding: 10px 14px;
  border-radius: 999px;
  border: 1px solid #ccc;
  font-size: 16px;
  background-color: #f5f5f5;
  color: #333;
  outline: none;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  width: 220px;
  max-width: 100%;
}

.input-busqueda::placeholder {
  color: #999;
  font-style: italic;
}

.input-busqueda:focus {
  border-color: #2e2f34;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(44, 44, 51, 0.5);
}

.btnPokemonShiny {
  display: inline-block;
  background-color: #646cff;
  color: white;
  border: none;
  padding: 0.5em 1em;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnPokemonShiny:hover {
  background-color: #28282a;
  color: white;
}


.btnPokemonShiny{
  background-color: black;
}
@media (max-width: 600px) {
  

  .iconoHome h2 {
    display: none;
  }

  .btnPokemonShiny {
    
    font-size: 0.8em;
  }

  .iconoHome img {
    width: 30px;
    height: 30px;

  }
  .input-busqueda {
    font-size: 0.75em;   
    width: 80%;
    max-width: 300px;
    
  }
  
  .enlaceMenu{
    display: flex;
    justify-content: center;
   

  }
  
}
